@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table class="table" id="OrderListTable">
    <thead>
        <tr>
            <th>Order</th>
            <th>Product ID</th>
            <th class="text-center">Customer Name</th>
            <th class="text-center">Shipping Address</th>
            <th class="text-center">Delivery Date</th>
            <th class="text-center">Amount</th>
            <th class="text-center">Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>