
@{
    ViewData["Title"] = "Selection";
}

<div class="form-inline">
    <h1>Products</h1>
    <button class="btn btn-outline-success offset-9" id="BtnShowCustomerItem" type="button" data-toggle="modal" data-target="#ModalCustomerItem">My Items</button>
</div>
<hr />
<div class="container">
    <div class="d-flex justify-content-center" id="ProductList">

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalCustomerItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" id="ModalCustomerItemContent">

        </div>
    </div>
</div>

<div class="modal fade" id="ModalOrderItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" id="ModalOrderItemContent">

        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/Selection.js"></script>
}